.for_top_nav{
    /* width: 1809px; */
    border-radius: 25px;
}

.person_circle{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

@media (min-width: 1700px) { 
    .for_top_nav{
        width: 1809px;
      
    }
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1599.98px) { 
    .for_top_nav{
    width: 100%;
 }

 }